.hidden {
	display: none;
}
.bytes, .editable, .referable {
	font-family: monospace;
	padding: 8px 15px;
	background-color: #fff;
}
.bytes {
	color: #888;
}
.editable {
	color: #008;
}
.referable {
	color: #008;
}
.bytes div, .editable div, .referable div {
	display: inline-block;
	padding: 0 12px 0 0;
}
.active-1 {
	background-color: rgba(255, 0, 0, 0.5);
}
.active-2 {
	background-color: rgba(255, 0, 0, 0.25);
}
.active-3 {
	background-color: rgba(255, 0, 0, 0.125);
}
.disabled {
	color: rgba(0, 0, 0, .2) !important;
	pointer-events: none;
}
* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}
h1 {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;	
	z-index: 10;
	height: 44px;
	background-color: #fff;
	border-bottom: solid 1px #ddd;

	display: block;
	width: 100%;
	padding: 0 10px;
	margin: 0 -10px;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	text-align: center;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding-top: 44px;
}
.content-padded {
	margin: 10px 15px;
}
.error-overlay {
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #600;
	color: #f00;
	border: solid 3px #f00;
	border-radius: 6px;
}

.error-overlay > h2 {
	height: 44px;
	background-color: #600;
	border-bottom: solid 1px #f00;

	padding: 0 10px;
	margin: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	text-align: center;
}
.error-overlay > p {
	margin: 0;
	padding: 6px 10px;
	color: #fff;
}
ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
li {
	padding: 11px 65px 11px 15px;
	border-bottom: 1px solid #ddd;	
}
li:last-child {
	border-bottom: 0;
}
.header {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	margin-top: -1px;
	margin-left: 0;
	font-weight: 500;
	color: #999;
	background-color: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}
.card {
	overflow: hidden;
	background-color: #fff;
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
.card ul {
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;
}
li > a {
	position: relative;
	display: block;
	padding: inherit;
	margin: -11px -65px -11px -15px;
	color: #008;
	text-decoration: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
li.header > a {
	padding: inherit;
	margin: -6px -65px -6px -15px;	
}

li > a > span.icon-expand, li > a > span.icon-collapse, li > a > span.right {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 21px;
}
span.icon-expand:before {
	content: "\27e9";
}
span.icon-collapse:before {
	content: "\27e8";
}
span.badge-aes256, span.badge-aes192, span.badge-aes128, span.badge-rijndael, span.badge-unknown {
	display: inline-block;
	padding: 2px 9px 3px;
	font-size: 12px;
	line-height: 1;
	border-radius: 100px;
}
span.badge-aes256, span.badge-aes192, span.badge-aes128 {
	color: #060;
	background-color: rgba(0, 255, 0, 0.15);
	border: solid 1px #060;
}
span.badge-rijndael {
	color: #550;
	background-color: rgba(255, 255, 0, 0.15);
	border: solid 1px #550;
}
span.badge-unknown {
	color: #600;
	background-color: rgba(255, 0, 0, 0.15);
	border: solid 1px #600;
}
span.badge-aes256:before {
	content: "AES-256";
}
span.badge-aes192:before {
	content: "AES-192";
}
span.badge-aes128:before {
	content: "AES-128";
}
span.badge-rijndael:before {
	content: "Rijndael";
}
span.badge-unknown:before {
	content: "unknown configuration";
}