.hidden {
	display: none;
}
.bytes {
	font-family: monospace;
	padding: 8px;
	background-color: rgba(0, 0, 255, .1);
}
.bytes div {
	display: inline-block;
	padding: 0 8px 0 0;
}
.active {
	background-color: #fcc;
}
